* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    background-color:red;
}

header {
    padding: 20px 35px;
    background-color: black;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/Banner.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: darkgoldenrod;
}

header a {
    text-decoration: none;
    color: red;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    list-style: none;
}

header nav ul li {
    display: flex;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: red;
    color: black;
    border-radius: 15px;
    text-shadow: none;
  }

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {

}

footer div {
    line-height: 1.5;
}

section {

}


.hero {
    background-image: url("../images/Banner.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: 80%;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.hero-textblock {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-textblock h2 {
    font-size: 50px;
}

.hero-support {
    background-color: rgba(184, 134, 11, 0.8);
    color: black;
    border: 3px solid red;
    padding: 10px;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero-support h3 {
    color:black;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.hero-support p {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 15px 0;
    align-content: space-around;
}

.links label, .links a {
    font-size: 30px;
}

.section-title {
   font-size: 50px;
   border-bottom: 3px solid;
   color: black; 
}

.box {
    padding: 5px 0;
}

.box button {
    color: black;
    background-color: red;
    border: 1px black solid;
    font-size: 40px;
    border-radius: 10px;
}


.cast {
    display: flex;
    margin: 20px;
    flex: 1;
}

.cast img {
    height: 100px;
    width: 100px;
}

.cast-bio {
    margin-left: 10px;
}

.cast-bio h3 {
    font-size: 30px;
}

.cast-bio p {
    font-size: 20px;
}
.icon {
    max-width: 50px;
    max-height: 50px;
}

#so-far, #cast-members, #supporters, #other-projects {
    display: none;
}

#most-recent-episode {
    width: 50%;
}

.flex-row {
    display: flex;
}

/* Media Queries for screen size */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }

    .hero-textblock, .hero-support {
        width: 100%;
    }

    .hero-textblock {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .cast {
        flex: 0 70%;
    }
}

@media screen and (max-width:768px) {
    section {
        padding: 30px 15px;
    }
}

@media screen and (max-width:575px) {
    .hero-support {

    }

    .section-title {
        width: 95%;
    }

    #about-us p {
        width: 100%;
    }

}