* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    background-color:red;
}

header {
    padding: 20px 35px 5px 35px;
    background-color: black;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: darkgoldenrod;
}

header a {
    text-decoration: none;
    color: red;
}

header nav {
    margin: auto 0 auto 0;
}

header nav ul {
    display: flex;
    align-content: space-around;
}

header nav ul li {
    display: flex;

}

header nav ul li a {
    margin:  0px 30px 10px 30px;
    font-weight: bold;
    font-size: 30px;
}

footer {

}

section {

}


.hero {
    background-image: url("../images/Banner.png");
    height: 410px;
    background-size: cover;
    background-position: center;
    position: relative;
    align-content:space-around;
}

.hero-support {
    background-color: darkgoldenrod;
    color: black;
    border: 3px solid red;
    position:absolute;
    top: auto;
    bottom: auto;
    right: 0;
    padding: 10px;
    height:410px;
    width: 500px;
    text-align: center;
}

.hero-support h3 {
    color:black;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.hero-support p {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 15px 0;
    align-content: space-around;
}

.links label, .links a {
    font-size: 30px;
}

.box {
    padding: 5px 0;
}

.box button {
    color: black;
    background-color: red;
    border: 1px black solid;
    font-size: 40px
}

#about-us {
    text-align: center;
    font-size: 40px;
}

.cast {
    display: flex;
    margin: 20px;
    flex: 1;
}

.cast img {
    height: 100px;
    width: 100px;
}

.cast-bio {
    margin-left: 10px;
}

.cast-bio h3 {
    font-size: 30px;
}

.cast-bio p {
    font-size: 20px;
}

#so-far, #cast-members, #supporters, #other-projects {
    display: none;
}

#most-recent-episode {
    width: 50%;
}